
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">


    <style>

        :root {
            --Black: #222;
            --white: #fff;
            --Orang: #ff7417;
            --default: #0751a5;
            --warn: #e71247;
            --yellow: #d1b307;
            --grey: #a0a3ad;
            --grey2: #f9fafd;
        }


        * {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }

        html {
            font-size: 62.5%;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        body,
        input {
            font-size: 1.6rem;
            font-weight: 400;
            font-family: "Archivo", sans-serif;
            color: var(--black);
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
        }

        img {
            max-width: 100%;
        }

        h3,
        h4 {
            font-weight: 500;
        }

        /*
        ======================
        Header
        ======================
        */

        .header {
            position: relative;
        }

        .container {
            max-width: 117rem;
            margin: 0 auto;
            padding: 0 1.6rem;
        }


        /*
        ======================
        navigation
        ======================
        */

        .navigation {
            position: relative;
            height: 7rem;
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
            background: var(--Black);
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            height: 7rem;
            padding: 0 1rem;
        }


        .nav__logo a {
            font-size: 2.5rem;
            color: var(--white);
            padding: 1.6rem;
            font-weight: 700;
        }

        .nav__logo span {
            color: var(--Orang);
        }

        .nav__icons {
            display: flex;
            position: relative;
        }

        .nav__icons {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.7rem;
            border-radius: 50%;
            transition: background-color 0.3s ease-in-out;
        }

            .nav__icons #cart__total {
                font-size: 1rem;
                position: absolute;
                top: 6px;
                right: -6px;
                background-color: var(--warn);
                padding: 0.2rem 0.4rem;
                border-radius: 100%;
                color: var(--white);
            }

        .cartt {
            color: var(--Orang);
            font-weight: bold;
            font-size: 22px;
        }

        .btn_login {
            background: var(--yellow);
            padding: 7px 15px;
            margin-right: 1rem;
            font-weight: bold;
        }



        /* Products Center */

        .rating span .fa-star, .far {
            color: var(--Orang);
        }

        .products {
            padding: 15rem 0;
        }

        .product__center {
            padding: 0 3rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            gap: 3rem 1rem;
        }

        .product {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
        }

        .product__footer {
            padding: 1rem;
            width: 100%;
        }

            .product__footer h1 {
                font-size: 2rem;
            }

        .rating {
            margin: 1rem 0;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
        }

        .btn {
            display: inline-block;
            border: 1px solid var(--grey);
            padding: 1rem 1.8rem;
            color: var(--Black);
            font-weight: 500;
            font-size: 1.7rem;
            cursor: pointer;
            transition: all 300ms ease-in-out;
        }

            .btn:hover {
                background-color: var(--Orang);
                color: var(--w);
                border: 1px solid var(--Orang);
            }

        .price {
            font-weight: 700;
            font-size: 1.8rem;
        }


        /* Cart */
        .cart__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 300ms ease-in-out;
            background-color: rgba(0, 0, 0, 0.7);
            visibility: hidden;
            z-index: 2;
        }

        .cart {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            width: 60%;
            height: 80%;
            padding: 1.6rem;
            border-radius: 2rem;
            z-index: 3;
            overflow-y: scroll;
            background-color: var(--grey2);
            opacity: 0;
            visibility: hidden;
            transition: all 300ms ease-in-out;
        }

            .cart.show {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
                visibility: visible;
            }

        .cart__overlay.show {
            visibility: visible;
        }

        .close__cart {
            cursor: pointer;
        }

            .close__cart svg {
                fill: var(--Black);
                transition: all 300ms ease-in-out;
            }

            .close__cart:hover svg {
                fill: var(--warn);
            }

        .cart svg {
            width: 1.8rem;
            height: 1.8rem;
        }

        .cart h1 {
            text-align: center;
            margin-bottom: 2rem;
        }

        .cart__item svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--orange);
        }

        .cart__item {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 2fr 1fr 1fr;
            width: 70%;
            margin: 2rem auto;
        }

            .cart__item div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .cart__item div span {
                    cursor: pointer;
                }

            .cart__item img {
                width: 9.5rem;
                height: 9.5rem;
            }

            .cart__item h3 {
                font-weight: 500;
                margin-bottom: 1.5rem;
            }

            .cart__item .price {
                color: var(--orange);
                font-weight: 700;
            }

            .cart__item p {
                font-weight: 700;
            }

            .cart__item .remove__item {
                cursor: pointer;
            }

                .cart__item .remove__item svg {
                    fill: var(--warn);
                }

        @@media only screen and (max-width: 1350px) {
            .cart__item {
                width: 100%;
            }
        }

        @@media only screen and (max-width: 996px) {
            .cart__item {
                grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
            }

                .cart__item h3 {
                    font-size: 1.7rem;
                }

                .cart__item .remove__item svg {
                    width: 1.6rem;
                    height: 1.6rem;
                }

                .cart__item img {
                    width: 7.5rem;
                    height: 7.5rem;
                }
        }

        .cart__footer {
            text-align: center;
            margin-bottom: 3rem;
        }

            .cart__footer h3 {
                font-size: 2.5rem;
                font-weight: 700;
                letter-spacing: 1px;
            }

            .cart__footer .btn {
                display: inline-block;
                padding: 1.5rem 3rem;
                font-size: 2rem;
                background-color: var(--Orang);
                border: none;
                margin-top: 2rem;
            }

                .cart__footer .btn:focus {
                    outline: none;
                }

        @@media only screen and (max-width: 567px) {
            .cart {
                width: 100%;
                height: 100%;
                border-radius: 0rem;
            }

            .cart__item h3 {
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }

            .btn {
                padding: 0.8rem 1.5rem;
                font-size: 1.6rem;
            }
        }

        .ion .icon{

        }

    </style>

    <title>MAKROON</title>
</head>


<body>

    <!--Header-->

    <header class="header" id="header">
        <div class="navigation">
            <div class="container">
                <nav class="nav">

                    <div class="nav__logo">
                        <a href="/" class="scroll-link">
                            SHOPI<span>Q</span>
                        </a>
                    </div>

                    <div class="nav__icons">

                        <a href="#"><button type="submit" class="btn_login">login</button></a>

                        <a href="#" class="cartt">
                            cart
                            <span id="cart__total">0</span>
                        </a>
                    </div>


                </nav>
            </div>
        </div>
    </header>

    <!-- Products -->
    <section class="products">
        <div class="product__center">
            <!-- Single Product -->
            <div class="product">
                <div class="image__container">
                    <img src="/images/img-macroon/product-1.jpg" alt="" />
                </div>
                <div class="product__footer">
                    <h1>The Original Super Donut</h1>
                    <div class="rating">
                        <span>

                            <i class="ion-ios-speedometer-outline"></i>
                        </span>
                        <span>
                            <ion-icon ios="ios-albums" md="md-albums"></ion-icon>
                        </span>


                        <span class="step size-18">
                            <i class="icon ion-ios-speedometer"></i>
                        </span>
                        <span>
                            <i class="fas fa-star"></i>
                        </span>
                        <span>

                            <span class="iconify" data-icon="ion-ios-speedometer-outline" data-inline="false"></span>
                        </span>
                    </div>
                    <div class="bottom">
                        <div class="btn__group">
                            <a href="#" class="btn addToCart">Add to Cart</a>
                            <a href="#" class="btn view">View</a>
                        </div>
                        <div class="price">$255.99</div>
                    </div>
                </div>
            </div>
            <!-- End of Single Product -->
        </div>
    </section>



    <!--java-->
    <script src="~/js/Macroon/indexMacroon.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>
</html>
